<div>
    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}
    <h1>Main User Page</h1>
    <ul>
        <li>
            <form method="get" action=""></form>
            <button>My info</button>
        </li>
        <li>
            <form method="get" action="{% url 'notes' %}">
                <button type="submit">Show notes</button>
            </form>
        </li>
        <li>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        </li>
    </ul>
</div>