<div>
    <h1>Note List</h1>
    <ul>
        {% for note in notes %}
        <li>{{ note.title }} - {{ note.content }}</li>
        {% endfor %}
    </ul>

    <div>
        <form method="get" action="{% url 'create_note' %}">
            <button type="submit">Create note</button>
        </form>
    </div>

    <div>


        <form method="post" action="{% url 'deleteNoteByTitle' %}"> <!--no delete method in forms-->
            {%csrf_token%}
            <label>Enter note title to delete</label>
            <input type="text" name="title" value="Note title">

            <button type="submit">Delete Note</button>
        </form>

    </div>